@import url('https://fonts.googleapis.com/css2?family=Chiller&display=swap');

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.titles-buttons {
	color: #00BACC;
	font-family: 'Chiller', cursive;
	font-size: 20px;
}

.title {
	font-family: 'Chiller', cursive;
	font-size: 20px;
}
