@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.image-container {
    text-align: center;
}

.image-container {
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.titles-buttons {
	color: #00BACC;
	font-family: 'Nosifer', cursive;
	font-size: 15px;
}

.title {
	font-family: 'Nosifer', cursive;
	font-size: 15px;
}
